.cart__leftBlock {
    display: flex;
    flex-direction: column;
}

.forImg {
    max-width: 160px;
}

.img {
    width: 100%;
}

.item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--color-box-shadow);
    margin-bottom: 40px;
    gap: 32px;
}

.item__banner {
    display: flex;
    gap: 32px;
}

.item__info {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.item__name {
    font-size: 1rem;
    line-height: 20px;
}

.item__size {
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
}

.item__total {
    display: flex;
    align-items: start;
    gap: 32px;
}

.item__price {
    font-size: 1rem;
    line-height: 24px;
    font-weight: 500;
}

.item__quantity {
    color: var(--color-card-heading);
    font-size: calc(1rem - 4px);
    font-weight: 400;
}

.quantity {
    color: var(--color-white);
}

.item__right {
    min-width: 160px;
    display: flex;
    justify-content: space-between;
}
.button {
    border: none;
    background: none;
    cursor: pointer;
}

.button_cursor {
    cursor: pointer;
}

.button_style {
    color: var(--color-white);
    padding: 14px 24px;
    background-color: var(--color-card-heading);
    border: 1px solid var(--color-card-heading);
    border-radius: 24px;
    transition: box-shadow 0.5s, background-color 0.5s;
}

.button_style:hover {
    box-shadow: 0 0 8px var(--color-card-heading);
}

.button_style:active {
    box-shadow: 0 0 16px var(--color-active-btn);
    background-color: var(--color-active-btn);
}