section{
    padding-top: 24px;
}

.section__wrapper{
    max-width: calc(1440px + 48px);
    padding: 0 24px;
    margin: 0 auto;
}

.order{
    display: grid;
    grid-template-columns: 65% 35%;
    gap: 150px;
}

.order__left{
    width: 100%;
    display: grid;
}

.order__right{
    width: 100%;
}

@media (min-width: 320px) and (max-width: 500px) {
    .section {
        padding-bottom: 24px;
    }
    .order {
        display: grid;
        grid-template-columns: 100%;
        gap: 15px;
    }
}