section{
    width: 100%;
}

.section__wrapper{
    width: 100%;
    margin: 5vh;
}

.order{
    display: grid;
    grid-template-columns: 60% 30%;
    gap: 6vw;
}

.order__left{
    width: 100%;
}

.order__right{
    width: 100%;
}