.section {
  background-color: #fff;
  min-height: 70vh;
  padding-top: 24px;
  padding-bottom: 214px;
}

.section__wrapper {
  max-width: calc(1440px + 48px);
  padding: 0 24px;
  margin: 0 auto;
}

/* cart css */

.cart {
  display: grid;
  grid-template-columns: 65% 35%;
  gap: 150px;
}

.cart__leftBlock {
  display: flex;
  flex-direction: column;
}

/* hidden adpative item css */

@media (max-width: 1299px) {
  .section {
    padding-bottom: 107px;
  }

  .cart {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 915px) {
  .section {
    padding-bottom: 107px;
  }
}

@media (max-width: 720px) {
  .cart {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 320px) and (max-width: 500px) {
  .section {
    padding-bottom: 24px;
  }
  .cart {
    display: grid;
    grid-template-columns: 100%;
    gap: 15px;
  }
}
