/* global css */
:root {
    --color-black: black;
    --color-white: #fff;
    --color-bg: antiquewhite;
    --color-card-heading: brown;
    --color-status: #26DA72;
    --color-hover-btn: rgb(170, 132, 132);
}

html {
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* catalog css */

.section {
    padding: 40px 0;
}

.section__h2 {
    font-family: Impact;
    font-weight: 700;
    letter-spacing: 1.25px;
    font-size: 42px;
    line-height: 44px;
    max-width: calc(1220px + 48px);
    padding: 40px 24px;
    margin: 0 auto;
}

.catalog {
    max-width: calc(1220px + 48px);
    padding: 0 24px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    justify-content: center;
    justify-items: center;
    gap: 16px;
}

