.section {
    padding: 40px 0;
    display: grid;
    width: 100%;
}

.filter__section{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom:1%;
    align-items: center;
    transform: translateX(-100%); 
    animation: slide-in 0.5s forwards;
}

.filter__section select{
    color: var(--color-status);;
    margin-left: 2.5vw;
    width: 70%;
    font-family: Impact;
    font-size: 42px;
    border: none;
    height: 40%;
}

.filter__section select option{
    font-size: 24px;
}

.section__div {
    display: flex;
}


.section__h2 {
    color: var(--color-black);
    font-family: Impact;
    font-weight: 700;
    letter-spacing: 1.25px;
    font-size: 42px;
    line-height: 44px;
    margin-left: 2.5vw;
}

.catalog {
    padding: 0 24px;
    margin-left: 15%;
    margin-right: 15%;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    justify-content: center;
    justify-items: center;
    gap: 16px;
}

@keyframes slide-in {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

