.section {
    padding: 40px 0;
    display: grid;
    width: 100%;
}

.filter__section{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom:1%;
    align-items: center;
    transform: translateX(-100%); 
    animation: slide-in 0.5s forwards;
}

.filter__section select{
    color: var(--color-status);;
    margin-left: 2.5vw;
    width: 70%;
    font-family: Impact;
    font-size: 42px;
    border: none;
    height: 40%;
}

.filter__section select option{
    font-size: 24px;
}

.section__div {
    display: flex;
}


.section__h2 {
    color: var(--color-black);
    font-family: Impact;
    font-weight: 700;
    letter-spacing: 1.25px;
    font-size: 42px;
    line-height: 44px;
    margin-left: 2.5vw;
}

.catalog {
    padding: 0 24px;
    margin-left: 15%;
    margin-right: 15%;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    justify-content: center;
    justify-items: center;
    gap: 16px;
}

@keyframes slide-in {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 1544px) {
    .catalog {
        margin-left: 5%;
        margin-right: 5%;
    }
    .filter__section{
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width: 1100px) {
    .catalog {
        margin-left: 0%;
        margin-right: 0%;
        grid-template-columns: repeat(2, 50%);
    }
    .filter__section{
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 810px) {
    .catalog {
        padding: 0 24px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        gap: 16px;
    }
    .filter__section{
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
    .filter__section select{
        width: 350px;
        height: 100%;
    }
    .filter__section div{
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

