/* global css */

:root {
    --color-bg: #1D2533;

    --color-bg-black: black;
    --color-white: #fff;

    --color-text-point: #777C85;
}

html {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-text-point);
}

a:hover {
    color: var(--color-white);
}

/* menu css */

.menu {
    min-height: 100vh;
    background-color: var(--color-bg-black);
}

.menu__wrapper {
    max-width: calc(1220px + 48px);
    margin: 0 auto;
    padding: 24px 24px;
}

.menu__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__left {
    display: flex;
    align-items: center;
    gap: 32px;
}

.menu__logo {
    background-color: var(--color-white);
    width: 40px;
}

.menu__name {
    color: var(--color-white);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: calc(1rem + 8px);
    font-weight: 300;
    letter-spacing: 0.5px;
}

.nav {
    padding-top: 150px;
}

.nav__point {
    padding-top: 24px;
}

.point__gap {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.menu__point {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
}

.point {
    font-size: calc(1rem * 2 - 4px);
    color: var(--color-text-point);
}

.point__wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.item {
    padding-left: 32px;
}

.item__wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


/* button css */
.button {
    background: none;
    border: none;
}

@media (max-width: 390px) {
    .nav {
        padding-top: 70px;
    }

    .menu__point {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
}