/* card css */
.card {
    width: 352px;
    border: 3px solid rgb(238, 238, 238);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 0 20px var(--color-box-shadow);
    transition: box-shadow 0.5s;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s forwards;

}

.card:hover {
    box-shadow: 5px 10px 32px var(--color-box-shadow);
}

.card__img, .card__top {
    width: 100%;
}

.card__heading {
    background-color: rgb(248, 246, 246);
    color: black;
    text-align: center;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 3px;
}

.card__top {
    overflow: hidden;
    height: 340px;
}

.card__top:hover .card__img {
    transform: scale(1.10);
}

.card__img {
    object-fit: cover;
    transition: transform 0.5s;
}

.card__name {
    font-size: calc(1rem + 4px);
    font-weight: 700;
    color: var(--color-card-text);
}

.card__bottom {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    background-color: black;
}

.card__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status__icon {
    width: 6px;
    height: 6px;
}

.card__status {
    display: flex;
    align-items: center;
    gap: 3px;
    color: var(--color-status);
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.6px;
    font-size: calc(1rem + 2px)
}

.article {
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.6px;
    font-size: calc(1rem + 2px);
    color: var(--color-card-text);
}

.price {
    font-family: impact;
    font-weight: 300;
    color: var(--color-white);
    letter-spacing: 1px;
    font-size: calc(1rem + 8px);
}


/* buttons css */

.button {
    background: none;
    border: none;
}

.button_cursor {
    cursor: pointer;
}

.button_cart {
    border-radius: 10px;
    border: 1px solid var(--color-card-heading);
    background-color: var(--color-card-heading);
    width: 100%;
    padding: 12px 0;
    color: var(--color-white);
    transition: box-shadow 0.5s, background-color 0.2s;
}

.button_cart:hover {
    box-shadow: 0 0 16px var(--color-card-heading);
}

.button_cart:active {
    box-shadow: 0 0 16px var(--color-active-btn);
    background-color: var(--color-active-btn);
}


/* button css */


@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}