.container{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    padding: 2vh;
}

.picture{
    height: 60vh;
    margin-left: 9vw;
}

.picture img{
    height: 100%;
}

.description__container{
    height: 60vh;
    display: grid;
}

.description__head h2{
    font-size: 48px;
}

.description__head span{
    font-size: 28px;
}

.description__text__block {
    font-size: 30px;
    display: grid;
    grid-template-columns: 30% 70%;
}

.btn__container{
    margin-top: 10vh;
    display: flex;
}

.btn__container button{
    height: 5vh;
    width: 25%;
}

.btn__count__container{
    margin-left: 2vw;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 5vh;
    width: 15%;
    background-color: green
}

.btn__count__container button{
    color: white;
    font-size: 18px;
    border: none;
    background-color: transparent;
}

.btn__count__container span {
    margin-left: 1vw;
    margin-right: 1vw;
}