.block__wrapper {
    border-bottom: 1px solid var(--color-card-bottom);
    height: 60vh;
}


.name {
    display: flex;
    gap: 14px;
    align-items: center;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    background-color: var(--color-name-order-block);
    color: var(--color-h1-cart);
    font-size: calc(1rem + 6px);
    Line-height: 24px;
}

.delivery__method {
    display: flex;
    scrollbar-width: none;
    margin-right: -32px;
    margin-left: 0;
    padding-left: 32px;
    height: 5vh;
    margin-bottom: 1vh;
}

.delivery__method::-webkit-scrollbar {
    display: none;
}
.method {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 350px;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid var(--color-card-bottom);
}

.method button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* delivery block css */

.delivery {
    border-bottom: 1px solid var(--color-card-bottom);
}

.delivery__schedule {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-left: 3px solid var(--color-status);
    padding-left: 32px;
}

.delivery__bottom {
    display: flex;
    gap: 32px;
}

.address__form{
    width: 67%;
    display: grid;
    gap: 2vh;
}

.town {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.town__info {
    max-width: 480px;
    height: 48px;
    position: relative;
}

.town__input {
    width: 100%;
    height: 100%;
    min-height: 5vh;
    border-radius: 24px;
    background-color: var(--color-card-bottom);
    color: var(--color-white);
    padding: 4px 48px;
}

.submit__button{
    border: none;
    border-radius: 24px;
    height: 5vh;
    background-color: var(--color-status);
    font-size: 24px;
}

.town__search {
    position: absolute;
    top: 12px;
    left: 16px;
}


@media (min-width: 320px) and (max-width: 500px) {
    .delivery__method {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-left: 0;
    }
    .method{
        min-width: 150px;
    }
    .delivery__bottom {
        margin-top: 24px;
    }
}

