.button {
  border: none;
  background: none;
  color: var(--color-text-h1);
}

.button_style {
  padding: 16px 35px;
  border: 2px solid var(--color-hover-button);
  border-radius: 50px;
  transition: background-color 0.5s, box-shadow 0.5s;
}

.button_hover:hover {
  background-color: var(--color-hover-button);
  box-shadow: 0 0 16px var(--color-hover-button);
}

.button_hover:active {
  background-color: var(--color-active-button);
  box-shadow: 0 0 64px var(--color-active-button);
}
