.block {
    padding-bottom: 40px;
    width: 100%;
}
.block__wrapper {
    border-bottom: 1px solid var(--color-card-bottom);
}

.block__wrapper_padding {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
}

.payment__variant {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 16px 0;
}

.payment__field {
    width: 314px;
    height: 48px;
    background-color: var(--color-card-bottom);
    border-radius: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

@media (min-width: 320px) and (max-width: 500px) {
    .delivery__method {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-left: 0;
    }
    .method{
        min-width: 150px;
    }
    .delivery__bottom {
        margin-top: 24px;
    }
}


