.button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  height: 100%;
  cursor: pointer;
}

.button__img:hover {
  box-shadow: 0 0 16px var(--color-card-heading);
}

.button__img:active {
  box-shadow: 0 0 16px var(--color-active-btn);
  background-color: var(--color-active-btn);
}
