/* global css */
:root {
    --color-black: black;
    --color-white: #fff;
    --color-bg: antiquewhite;
    --color-card-heading: brown;
    --color-status: #26DA72;
    --color-hover-btn: rgb(170, 132, 132);
}

html {
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* header css */

.header {
    background-color: var(--color-black);
    height: 80px;
}

.header__wrapper {
    max-width: calc(1220px + 2 * 24px);
    height: 100%;
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.button__menuheader {
    font-size: calc(1rem + 8px);
}

.header__logo {
    width: 40px;
    height: 40px;
    background-color: var(--color-white);
}

.header__rightblock {
    display: flex;
    gap: 32px;
}

.rightblock_hidden {
    display: none;
}

/* adaptive css */

@media (max-width: 480px) {
    .header__rightblock {
        display: none;
    }
    
    .rightblock_hidden {
        display: flex;
        gap: 32px;
    }

    .header__menu {
        display: none;
    }
}

/* buttons css */
.button {
    background: none;
    border: none;
    cursor: pointer;
}

.button_cursor {
    cursor: pointer;
}

.button_main {
    background-color: var(--color-black);
    padding: 16px 40px;
    border-radius: 36px;
    color: var(--color-white);
    font-weight: 700;
}

.button_main:hover {
    color: var(--color-black);
    border: 3px solid var(--color-black);
    background-color: var(--color-white);
} 

.button_menu {
    display: flex;
    align-items: center;
    gap: 12px;
}