.header {
    background-color: var(--color-black);
    height: 80px;
    border-bottom: 2px solid var(--color-bg-banner);
}

.header__wrapper {
    max-width: calc(1220px + 2 * 24px);
    height: 100%;
    margin: 0 auto;
    padding: 0 24px;

    display: flex;
    justify-content: space-between;

    /* из-за грида адаптив едет, смещаются оси*/
    /* display: grid;
    grid-template-columns: 33% 33% 33%; */


    align-items: center;
}


.button__menuheader {
    color: white;
    font-size: calc(1rem + 8px);
}

.header__cont{
    display: flex;
    justify-content: center;
}

.header__logo {
    width: 40px;
    height: 40px;
    background-color: var(--color-white);
}

.header__rightblock {
    display: flex;
    align-items: center;
    /* если грида нет строчка не нужна */
    /* justify-content: end; */
    gap: 32px;
}

.rightblock_hidden {
    display: none;
}

/* adaptive css */

@media (max-width: 694px) {
    .header__rightblock {
        display: none;
    }
    
    .rightblock_hidden {
        display: flex;
        gap: 32px;
    }

    .header__menu {
        display: none;
    }
}

@media (max-width: 410px) { 
    .rightblock_hidden {
        display: flex;
        gap: 18px;
    }
}

/* buttons css */
.button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 12px;
}

.button_cursor {
    cursor: pointer;
}

.button_main {
    background-color: var(--color-black);
    padding: 16px 40px;
    border-radius: 36px;
    color: var(--color-white);
    font-weight: 700;
}

.button_main:hover {
    color: var(--color-black);
    border: 3px solid var(--color-black);
    background-color: var(--color-white);
} 

.button_menu {
    display: flex;
    align-items: center;
    gap: 12px;
}
