.header{
    height: 85px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_container{
    width: 33%;
    color: aliceblue;
    font-size: 24px;
    display: flex;
    justify-content: center;
}

.logo_container{
    display: flex;
    justify-content: center;
    width: 33%;
}

.icons_container{
    display: flex;
    justify-content: center;
    width: 33%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}