.search__label {
    cursor: pointer;
}



.search__div {
    height: 30px;
    display: flex;
    align-items: center;
    position: relative;
}

.search {
    width: 100%;
    height: 100%;
    padding-left: 30px;
    border-radius: 7px;
    outline: none;
    color: var(--color-status);
}

.searchLogo {
    position: absolute;
    left: 7px;
}

.catalog{
    position: absolute;
    display: flex;
    flex-direction: column;
    max-height: 30vh;
    width: 200px;
    overflow-y: auto;
    border: 1px solid black;
    border-radius: 6px;
    z-index: 1;
}

.catalog__items{
    background-color: white;
    border-bottom: 1px solid white;
    border-radius: 6px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: black;
    margin-top: 1px;
    z-index: 1;
}

.catalog__items img{
    width: 60px;
    border-radius: 6px;
}

.catalog__items span{
    margin-left: 3px;
}


@media (max-width: 410px) {
    .search__div {
        height: 30px;
        width: 150px;
    }
}