:root {
  --color-black: black;
  --color-white: #fff;
  --color-bg: antiquewhite;
  --color-card-heading: brown;
  --color-status: #26DA72;
  --color-border-card: rgb(134, 91, 91);
  --color-box-shadow: #A5A8AD;
  --color-card-bottom: #2A323F;
  --color-active-btn: red;
  --color-h1-cart: #F1F3F5;

  --color-price: #D9D9D9;
  --color-total: #E8E9EA;

  --color-card-text: #A5A8AD;
  --color-hover-tumbler: red;
}

html {
  font-size: 16px;
  color: var(--color-black);
}

body {
  background-color: var(--color-white);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-card-heading);
}



