.grid__markup{
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.map__wrap {
    width: 100%;
    height: calc(100vh - 77px); /* calculate height of the screen minus the heading */
}
  
.map {
    border-radius: 25px;
    width: 100%;
    height: 50%;
}

.town__info {
  max-width: 480px;
  height: auto;
}

.town__input {
  width: 100%;
  height: 48px;
  border-radius: 24px;
  background-color: var(--color-card-bottom);
  color: var(--color-white);
  padding: 4px 48px;
}

.town__search {
  position: absolute;
  top: 12px;
  left: 16px;
}

.delivery__schedule {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-left: 3px solid var(--color-status);
  padding-left: 32px;
}

.delivery__address, .delivery__time {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.delivery__line {
  color: var(--color-black);
  font-size: 1rem;
  font-family: 400;
  line-height: 24px;
}

@media (min-width: 320px) and (max-width: 500px) {
  .grid__markup{
    display: grid;
    grid-template-columns: 100%;
    height: auto;
  }
  .delivery__schedule {
    padding-left: 16px;
  }
  .map__wrap {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}


