.grid__markup {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.map__wrap {
  width: 100%;
  height: 100%;
}

.map {
  border-radius: 25px;
  width: 100%;
  height: 100%;
}

.town__info {
  max-width: 480px;
  height: auto;
}

.town__input {
  width: 100%;
  height: 48px;
  border-radius: 24px;
  background-color: var(--color-card-bottom);
  color: var(--color-white);
  padding: 4px 48px;
}

@media (min-width: 320px) and (max-width: 500px) {
  .grid__markup {
    display: grid;
    grid-template-columns: 100%;
    height: auto;
  }
  .map__wrap {
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
    height: 300px;
  }
  .town__info {
    width: 300px;
    height: auto;
  }
}
